* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 330px;
  border-radius: 20px;
  text-align: center;
}
img {
  border-radius: 10px;
  width: 100%;
}
h1 {
  font-size: 1.5rem;
  width: 90%;
  margin: 30px auto 20px;
}
p {
  color: hsl(220, 15%, 55%);
  width: 90%;
  margin: 0px auto 20px;
}
